$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b0b0b0 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #152c5b !default;
$black: #000 !default;


$blue:    #40BFFF !default;
$indigo:  #3252DF !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #FB7181 !default;
$orange:  #ED5633 !default;
$yellow:  #FFC833 !default;
$green:   #53D1B6 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
